@model List<Travix.Dtos.AdminDtos.AboutDtos.ResultAboutDto>

@{
    Layout = "_Layout";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hero</th>
        <th>Hero</th>
        <th>Hero</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.Features1</td>
            <td>@item.Features1</td>
            <td><a href="~/Admin/about/update/@item.AboutId">Güncelle</a></td>
            <td><a href="~/Admin/about/delete/@item.AboutId">Sil</a></td>
        </tr>
    }
</table>

<a class="btn btn-danger" href="~/Admin/about/create">Ekle</a>
