    <header class="sticky top-0 w-full z-40 bg-white/70 backdrop-blur-md border-b border-slate-100 shadow-sm flex justify-between items-center h-16 px-8">
        <div class="flex items-center flex-1">
            <div class="relative w-96 max-w-full">
                <span class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">search</span>
                <input class="w-full bg-surface-container-low border-none rounded-lg pl-10 pr-4 py-2 text-body-sm focus:ring-2 focus:ring-orange-500/20" placeholder="Panelde ara..." type="text"/>
            </div>
        </div>
        <div class="flex items-center gap-6">
            <div class="flex items-center gap-4 border-r border-slate-200 pr-6">
                <button class="relative text-slate-500 hover:text-orange-600 transition-colors">
                    <span class="material-symbols-outlined">notifications</span>
                    <span class="absolute -top-1 -right-1 w-2 h-2 bg-error rounded-full"></span>
                </button>
                <button class="text-slate-500 hover:text-orange-600 transition-colors">
                    <span class="material-symbols-outlined">help_outline</span>
                </button>
            </div>
            <div class="flex items-center gap-3">
                <div class="text-right">
                    <p class="text-body-sm font-label-bold text-on-surface">Furkan Türker</p>
                    <p class="text-[10px] text-slate-500 uppercase tracking-tighter">Süper Admin</p>
                </div>
                <img alt="Admin User Profile" class="w-10 h-10 rounded-full border-2 border-orange-100 object-cover" data-alt="A professional headshot of a middle-aged male administrator in a modern office setting. He is wearing a crisp white shirt and a navy blazer, projecting an air of confidence and reliability. The background is softly blurred with warm wooden textures and high-end office lighting, maintaining a premium and sophisticated business atmosphere consistent with luxury hospitality management." src="https://lh3.googleusercontent.com/aida-public/AB6AXuCZoMCh9qVs7uNxg3u6BfzogQfxrrtWYn-8EnRBIcPowbNf3oxgWSdsKyCGxx09tdJ2d7lC2AibL7gW06MfgIWy8NsWQR-bHcIYeuiVowU0qdzLqeFInXnCV-t1QPt0YgfsYEzbrzAbScvKLDDu0uoBkq4obxPAIBcQBs5-2PaTcbEeBfeJZm1fLFyFVf1kDw4se8Ux-43C6zaQ1lZOTLCXFMNrDy-c-E365Meg2eI8-I9kOadnM_Ly9QjZR2osGeGbJc4iUP-NOQ8"/>
            </div>
        </div>
    </header>
