@model dynamic

@{
    Layout = null;
}

<html class="scroll-smooth" lang="tr">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body class="bg-[#F8FAFC] font-body-md text-on-background">

@await Component.InvokeAsync("_DefaultHeaderComponentPartial")

@await Component.InvokeAsync("_DefaultHeroComponentPartial")

@await Component.InvokeAsync("_DefaultStatsComponentPartial")

@await Component.InvokeAsync("_DefaultDestinationComponentPartial")

@await Component.InvokeAsync("_DefaultHotelComponentPartial")

@await Component.InvokeAsync("_DefaultAboutComponentPartial")

@await Component.InvokeAsync("_DefaultBannerComponentPartial")

@await Component.InvokeAsync("_DefaultBlogComponentPartial")

@await Component.InvokeAsync("_DefaultCommentComponentPartial")

@await Component.InvokeAsync("_DefaultFooterComponentPartial")
</body>
</html>